{% extends "index.html" %}
{% block shops %}
    <div class="col-lg-8 col-xl-9 col-md-8">
                    <!-- 商家介绍 -->
                    {% for shop in params.shops %}
                    <div class="row">
                        <!-- 店家1 -->
                        <div class="col-lg-12">
                            <div class="single-blog-wrapper mb-50">
                                <div class="blog-img mb-20">
                                    <a href="/goods?shop_id={{ shop.id }}">
{#                                        <img src="{{ shop.shop_img }}" alt="">#}
                                    </a>
                                    <!--
                                            <div class="blog-date">
                                                <span>26 <br> JUNE</span>
                                            </div>
                                            -->
                                </div>
                                <div class="blog-content">
                                    <h2><a href="/goods?shop_id={{ shop.id }}"> {{ shop.shop_name }} </a></h2>
                                    <div class="blog-date-categori">
                                        <ul>
                                            <li><a href="/goods?shop_id={{ shop.id }}"><i class="fa fa-user"></i> ★★★★★
                                                    5分 </a></li>
                                            <li><a href="/goods?shop_id={{ shop.id }}"><i class="ion-heart"></i> 999+喜欢
                                                </a></li>
                                            <li><a href="/goods?shop_id={{ shop.id }}"><i class="fa fa-comment"></i>
                                                    999+条评论 </a></li>
                                        </ul>
                                    </div>
                                    <p>
                                        {{ shop.shop_intro }}
                                        <img src="../assets/shops/{{ shop.shop_img }}" onerror="onerror=null;src='../assets/null.png'"
                                            width="870" height="522" />
                                    </p>
                                </div>
                                <div class="blog-btn mt-30">
                                    <a href="/goods?shop_id={{ shop.id }}">详情</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                    <!-- 翻页设计部分 -->
                    <div class="pagination-total-pages">
                        <div class="pagination-style">
                            <ul>
                                <li><a class="prev-next next" href="/shops?page=1"><i class="ion-ios-arrow-left"></i>
                                        首页</a>
                                </li>
                                <li><a class="active" href="/shops?page={{ params.prevPage }}">上一页</a></li>
                                <li>
                                    <input id="upage" type="text" style="width: 50px;height: 34px;
                                           text-align: center"
                                        value={{ params.page }}>
                                    <div id="show"></div>
                                </li>
                                <li><a class="active" href="/shops?page={{ params.nextPage }}">下一页</a></li>
                                <li><a class="prev-next next" href="/shops?page={{ params.lastPage }}">尾页<i class="ion-ios-arrow-right"></i>
                                    </a></li>
                            </ul>
                            <script>
                                $("#upage").blur(function () {
                                var url = "/shops?page=" + $("#upage").val();
                                window.location.href = url
                            });
                        </script>
                        </div>
                        <div class="total-pages">
                            <p>Showing 1 - 20 of 30 results </p>
                        </div>
                    </div>
                </div>
{% endblock %}