<!-- 顶部导航栏开始 -->
<header class="header-area">
    <div class="header-middle">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-12 col-sm-4">
                    <div class="logo">
                        <a href="index">
                            <img alt="" src="../assets/img/logo/logo.png">
                        </a>
                    </div>
                </div>
                <div class="col-lg-9 col-md-8 col-12 col-sm-8">
                    <div class="header-middle-right f-right">
                        <div class="header-login">
                            {% if params.username %}
                                <a href="/my-account">
                                    <div class="header-icon-style">
                                        <i class="icon-user-following icons"></i>
                                    </div>
                                    <div class="login-text-content">
                                        <p>
                                            <span>
                                                    欢迎您:
                                                <b>
                                                {{ params.username }}
                                                </b>
                                                </span>
                                            <br>
                                            <span>
                                                    <a href="/logout">退出当前用户</a>
                                        </span>
                                        </p>
                                    </div>
                                </a>
                            {% else %}
                                <a href="/login">
                                    <div class="header-icon-style">
                                        <i class="icon-user-unfollow icons"></i>
                                    </div>
                                    <div class="login-text-content">
                                        <p>
                                            <span>
                                                <a href="/login">登录</a>
                                            </span>
                                            <br> or
                                            <span>
                                                <a href="/register">注册</a>
                                            </span>
                                        </p>
                                    </div>
                                </a>
                            {% endif %}
                        </div>
                        <div class="header-wishlist">
                            <a>
                                <div class="header-icon-style">
                                    <i class="icon-location-pin icons icons"></i>
                                </div>
                                <div class="wishlist-text">
                                    <p>所在城市<br>
                                        <span id="area_city2">未知</span></p>
                                </div>
                            </a>
                        </div>
                        <div class="header-cart">
                            <a onclick="window.location = 'cart-page'" href="javascript:void(0);">
                                <div class="header-icon-style">
                                    <i class="icon-handbag icons"></i>
                                    <!-- 商品数量标识 -->
                                    <span class="count-style">0</span>
                                    <!-- 商品数量标识,数量后面跟+ -->
                                </div>
                                <div class="cart-text">
                                    <span class="digit">购物车</span>
                                    <!-- 当前购物车的统计 -->
                                    <span class="cart-digit-bold">$209.00</span>
                                </div>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom transparent-bar black-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                    <div class="main-menu">
                        <nav>
                            <ul>
                                <li class="mega-menu-position top-hover"><a href="/index">首页</a></li>
                                {#                                <li class="mega-menu-position top-hover"><a href="shops">发现商家</a></li>#}
                                <!-- <li class="mega-menu-position top-hover"><a href="shop-list">点菜</a></li> -->
                                <li class="mega-menu-position top-hover"><a href="/cart-page">购物车</a></li>
                                <li class="mega-menu-position top-hover"><a href="/checkout">订单</a></li>
                                <li class="mega-menu-position top-hover"><a href="/my-account">个人信息</a></li>
                                {#                                <li class="mega-menu-position top-hover"><a href="about-us">关于我们</a></li>#}
                                <!-- <li class="mega-menu-position top-hover"><a href="contact">联系我们</a></li> -->
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- mobile-menu-area-start -->
    <!-- 下面是移动端的内容 -->
    <div class="mobile-menu-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="mobile-menu">
                        <nav id="mobile-menu-active">
                            <ul class="menu-overflow" id="nav">
                                <li><a href="index">首页</a></li>
                                <li><a href="shops">发现商家</a></li>
                                <!-- <li><a href="shop-list">点菜</a></li> -->
                                <li><a href="cart-page">购物车</a></li>
                                <li><a href="checkout">订单</a></li>
                                <li><a href="about-us">关于我们</a></li>
                                <!-- <li><a href="contact">联系我们</a></li> -->
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- mobile-menu-area-end -->
</header>
<!-- 顶部导航栏结束 -->






<!-- 底部导航栏 -->
<div class="footer-area black-bg-2 pt-70">
    <div class="footer-top-area pb-18">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="footer-about mb-40">
                        <div class="footer-logo">
                            <a href="index.html">
                                <img src="../assets/img/logo/footer-logo.png" alt="">
                            </a>
                        </div>
                        <p>非食不可多年以来专注于国内各类菜系的烹调和改进,菜品不断创新,致力于为顾客带来全方位极致的用餐体验</p>
                        <div class="payment-img">
                            <a href="#">
                                <img src="../assets/img/icon-img/payment.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="footer-widget mb-40">
                        <div class="footer-title mb-22">
                            <h4>帮助中心</h4>
                        </div>
                        <div class="footer-content">
                            <ul>
                                <li><a href="about-us.html">关于我们</a></li>
                                <li><a href="#">配送信息</a></li>
                                <li><a href="#">隐私政策</a></li>
                                <li><a href="#">条款和条件</a></li>
                                <li><a href="#">客户服务</a></li>
                                <li><a href="#">改进意见</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="footer-widget mb-40">
                        <div class="footer-title mb-22">
                            <h4>个人账户</h4>
                        </div>
                        <div class="footer-content">
                            <ul>
                                <li><a href="my-account.html">我的账户</a></li>
                                <li><a href="#">历史订单</a></li>
                                <li><a href="wishlist.html">愿望清单</a></li>
                                <li><a href="#">个人信息</a></li>
                                <li><a href="#">历史订单</a></li>
                                <li><a href="#">国际订单</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="footer-widget mb-40">
                        <div class="footer-title mb-22">
                            <h4>关于我们</h4>
                        </div>
                        <div class="footer-contact">
                            <ul>
                                <li>地址: 文三路, 杭州市, 浙江省 - 中国.</li>
                                <li>电话咨询: 400-100-6789</li>
                                <li>电子邮件: <a href="#">Info@example.com</a></li>
                            </ul>
                        </div>
                        <div class="mt-35 footer-title mb-22">
                            <h4>服务支持</h4>
                        </div>
                        <div class="footer-time">
                            <ul>
                                <li>营业时间: <span>8:00 AM</span> - 结束: <span>22:00 PM</span></li>
                                <li>周一 - 周日: <span>营业</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom-area border-top-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-7">
                    <div class="copyright">
                        <p>Copyright © <a href="#">达人预备队</a> . 非食不可.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-5">
                    <div class="footer-social">
                        <ul>
                            <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                            <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                            <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                            <li><a href="#"><i class="ion-social-googleplus-outline"></i></a></li>
                            <li><a href="#"><i class="ion-social-rss"></i></a></li>
                            <li><a href="#"><i class="ion-social-dribbble-outline"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 底部导航栏结束 -->