{% extends "index.html" %}
{% block content %}
<div class="breadcrumb-area gray-bg">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="index.html">首页</a></li>
                <li class="active"> {{params.shop.shop_name}} </li>
            </ul>
        </div>
    </div>
</div>
<div class="shop-page-area pt-100 pb-100">
    <div class="container">
        <div class="row flex-row-reverse">
            <div class="col-lg-9">
                <!-- <div class="banner-area pb-30">
                    <a href="product-details.html"><img alt="" src="../assets/img/banner/banner-4.jpg"></a>
                </div> -->
                <!-- <div class="shop-topbar-wrapper">
                    <div class="shop-topbar-left">
                        <ul class="view-mode">
                            <li class="active"><a href="#product-grid" data-view="product-grid"><i class="fa fa-th"></i></a></li>
                            <li><a href="#product-list" data-view="product-list"><i class="fa fa-list-ul"></i></a></li>
                        </ul>
                        <p>Showing 1 - 20 of 30 results </p>
                    </div>
                    <div class="product-sorting-wrapper">
                        <div class="product-shorting shorting-style">
                            <label>View:</label>
                            <select>
                                <option value=""> 20</option>
                                <option value=""> 23</option>
                                <option value=""> 30</option>
                            </select>
                        </div>
                        <div class="product-show shorting-style">
                            <label>Sort by:</label>
                            <select>
                                <option value="">Default</option>
                                <option value=""> Name</option>
                                <option value=""> price</option>
                            </select>
                        </div>
                    </div>
                </div> -->
                <div class="grid-list-product-wrapper">
                    <div class="product-grid product-view pb-20">
                        <div class="row">
                            {% for good in params.goods %}
                            <div class="product-width col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 mb-30">
                                <div class="product-wrapper">
                                    <div class="product-img">
                                        <a href="product-details.html">
                                            <img src="../assets/img/goods/{{good.goods_image}}" alt="">
                                        </a>
                                        <div class="product-action">
                                            <div class="pro-action-left">
                                                <a title="添加至购物车" href="" id="tjgwc"><i class="ion-android-cart"></i>
                                                    添加至购物车</a>
                                                    
                                            </div>
                                            <div class="pro-action-right">
                                                <a title="收藏" href="wishlist.html"><i class="ion-ios-heart-outline"></i></a>
                                                <!-- <a title="Quick View" data-toggle="modal" data-target="#exampleModal"
                                                    href="#"><i class="ion-android-open"></i></a> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h4>
                                            <a href="{{good.goods_i}}">{{good.goods_name}} </a>
                                        </h4>
                                        <div class="product-price-wrapper">
                                            <span>&yen;{{good.goods_price}}</span>
                                            <!-- <span class="product-price-old">$120.00 </span> -->
                                        </div>
                                    </div>
                                    <div class="product-list-details">
                                        <h4>
                                            <a href="product-details.html">PRODUCTS NAME HERE </a>
                                        </h4>
                                        <div class="product-price-wrapper">
                                            <span>$100.00</span>
                                            <span class="product-price-old">$120.00 </span>
                                        </div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipic it, sed do eiusmod tempor
                                            labor incididunt ut et dolore magna aliqua. Ut enim ad minim veniam,
                                            quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                                        <div class="shop-list-cart-wishlist">
                                            <!-- 喜欢 -->
                                            <a href="#" title="Wishlist"><i class="ion-ios-heart-outline"></i></a>
                                            <!-- 添加到购物车 -->
                                            <a href="#" title="Add To Cart"><i class="ion-android-cart"></i></a>
                                            <a href="#" data-target="#exampleModal" data-toggle="modal" title="Quick View">
                                                <i class="ion-android-open"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <script>
                                    $("#tjgwc").click(function(){
                                        $.get('/gouwuche',goods_id={{good.goods_id}},function(){
                                            alert({{good.goods_name}}+"添加到购物车成功")
                                        })
                                    })
                            </script>
                            {% endfor %}
                            
                            <div class="product-width col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 mb-30">
                                <div class="product-wrapper">
                                    <div class="product-img">
                                        <a href="product-details.html">
                                            <img src="../assets/img/goods/niuroumian.jpg" alt="">
                                        </a>
                                        <div class="product-action">
                                            <div class="pro-action-left">
                                                <a title="添加至购物车" href="#"><i class="ion-android-cart"></i>
                                                    添加至购物车</a>
                                            </div>
                                            <div class="pro-action-right">
                                                <a title="收藏" href="wishlist.html"><i class="ion-ios-heart-outline"></i></a>
                                                <!-- <a title="Quick View" data-toggle="modal" data-target="#exampleModal"
                                                    href="#"><i class="ion-android-open"></i></a> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h4>
                                            <a href="product-details.html">炸酱面 </a>
                                        </h4>
                                        <div class="product-price-wrapper">
                                            <span>&yen;15.00</span>
                                            <!-- <span class="product-price-old">$120.00 </span> -->
                                        </div>
                                    </div>
                                    <div class="product-list-details">
                                        <h4>
                                            <a href="product-details.html">PRODUCTS NAME HERE </a>
                                        </h4>
                                        <div class="product-price-wrapper">
                                            <span>$100.00</span>
                                            <span class="product-price-old">$120.00 </span>
                                        </div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipic it, sed do eiusmod tempor
                                            labor incididunt ut et dolore magna aliqua. Ut enim ad minim veniam,
                                            quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                                        <div class="shop-list-cart-wishlist">
                                            <!-- 喜欢 -->
                                            <a href="#" title="Wishlist"><i class="ion-ios-heart-outline"></i></a>
                                            <!-- 添加到购物车 -->
                                            <a href="#" title="Add To Cart"><i class="ion-android-cart"></i></a>
                                            <a href="#" data-target="#exampleModal" data-toggle="modal" title="Quick View">
                                                <i class="ion-android-open"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-width col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 mb-30">
                                <div class="product-wrapper">
                                    <div class="product-img">
                                        <a href="product-details.html">
                                            <img src="../assets/img/product/product-3.jpg" alt="">
                                        </a>
                                        <div class="product-action">
                                            <div class="pro-action-left">
                                                <a title="Add Tto Cart" href="#"><i class="ion-android-cart"></i>
                                                    Add Tto Cart</a>
                                            </div>
                                            <div class="pro-action-right">
                                                <a title="Wishlist" href="wishlist.html"><i class="ion-ios-heart-outline"></i></a>
                                                <a title="Quick View" data-toggle="modal" data-target="#exampleModal"
                                                    href="#"><i class="ion-android-open"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h4>
                                            <a href="product-details.html">PRODUCTS NAME HERE </a>
                                        </h4>
                                        <div class="product-price-wrapper">
                                            <span>$90.00</span>
                                            <span class="product-price-old">$100.00 </span>
                                        </div>
                                    </div>
                                    <div class="product-list-details">
                                        <h4>
                                            <a href="product-details.html">PRODUCTS NAME HERE </a>
                                        </h4>
                                        <div class="product-price-wrapper">
                                            <span>$100.00</span>
                                            <span class="product-price-old">$120.00 </span>
                                        </div>
                                        <p> exercitation ullamco laboris nisi ut aliquip.</p>
                                        <div class="shop-list-cart-wishlist">
                                            <a href="#" title="Wishlist"><i class="ion-ios-heart-outline"></i></a>
                                            <a href="#" title="Add To Cart"><i class="ion-android-cart"></i></a>
                                            <a href="#" data-target="#exampleModal" data-toggle="modal" title="Quick View">
                                                <i class="ion-android-open"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-width col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 mb-30">
                                <div class="product-wrapper">
                                    <div class="product-img">
                                        <a href="product-details.html">
                                            <img src="../assets/img/product/product-4.jpg" alt="">
                                        </a>
                                        <div class="product-action">
                                            <div class="pro-action-left">
                                                <a title="Add Tto Cart" href="#"><i class="ion-android-cart"></i>
                                                    Add Tto Cart</a>
                                            </div>
                                            <div class="pro-action-right">
                                                <a title="Wishlist" href="wishlist.html"><i class="ion-ios-heart-outline"></i></a>
                                                <a title="Quick View" data-toggle="modal" data-target="#exampleModal"
                                                    href="#"><i class="ion-android-open"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h4>
                                            <a href="product-details.html">PRODUCTS NAME HERE </a>
                                        </h4>
                                        <div class="product-price-wrapper">
                                            <span>$50.00</span>
                                        </div>
                                    </div>
                                    <div class="product-list-details">
                                        <h4>
                                            <a href="product-details.html">PRODUCTS NAME HERE </a>
                                        </h4>
                                        <div class="product-price-wrapper">
                                            <span>$100.00</span>
                                            <span class="product-price-old">$120.00 </span>
                                        </div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipic it, sed do eiusmod tempor
                                            labor incididunt ut et dolore magna aliqua. Ut enim ad minim veniam,
                                            quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                                        <div class="shop-list-cart-wishlist">
                                            <a href="#" title="Wishlist"><i class="ion-ios-heart-outline"></i></a>
                                            <a href="#" title="Add To Cart"><i class="ion-android-cart"></i></a>
                                            <a href="#" data-target="#exampleModal" data-toggle="modal" title="Quick View">
                                                <i class="ion-android-open"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-width col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 mb-30">
                                <div class="product-wrapper">
                                    <div class="product-img">
                                        <a href="product-details.html">
                                            <img src="../assets/img/product/product-5.jpg" alt="">
                                        </a>
                                        <div class="product-action">
                                            <div class="pro-action-left">
                                                <a title="Add Tto Cart" href="#"><i class="ion-android-cart"></i>
                                                    Add Tto Cart</a>
                                            </div>
                                            <div class="pro-action-right">
                                                <a title="Wishlist" href="wishlist.html"><i class="ion-ios-heart-outline"></i></a>
                                                <a title="Quick View" data-toggle="modal" data-target="#exampleModal"
                                                    href="#"><i class="ion-android-open"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h4>
                                            <a href="product-details.html">PRODUCTS NAME HERE </a>
                                        </h4>
                                        <div class="product-price-wrapper">
                                            <span>$60.00</span>
                                            <span class="product-price-old">$70.00 </span>
                                        </div>
                                    </div>
                                    <div class="product-list-details">
                                        <h4>
                                            <a href="product-details.html">PRODUCTS NAME HERE </a>
                                        </h4>
                                        <div class="product-price-wrapper">
                                            <span>$100.00</span>
                                            <span class="product-price-old">$120.00 </span>
                                        </div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipic it, sed do eiusmod tempor
                                            labor incididunt ut et dolore magna aliqua. Ut enim ad minim veniam,
                                            quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                                        <div class="shop-list-cart-wishlist">
                                            <a href="#" title="Wishlist"><i class="ion-ios-heart-outline"></i></a>
                                            <a href="#" title="Add To Cart"><i class="ion-android-cart"></i></a>
                                            <a href="#" data-target="#exampleModal" data-toggle="modal" title="Quick View">
                                                <i class="ion-android-open"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pagination-total-pages">
                        <div class="pagination-style">
                            <ul>
                                <li><a class="prev-next prev" href="/goods?page=1"><i class="ion-ios-arrow-left"></i> 首页 </a></li>
                                <li><a class="active" href="/goods?page={{params.prevPage}}">上一页</a></li>
                                <li><a href="/goods?page=1"></a>1</li>
                                <li><a href="/goods?page=2">2</a></li>
                                <li><a href="#">...</a></li>
                                <li><a href="/goods?page={{ params.nextPage }}">下一页</a></li>
                                <li><a class="prev-next next" href="/goods?page={{params.lastPage}}"> 尾页 <i class="ion-ios-arrow-right"></i> </a></li>
                            </ul>
                        </div>
                        <div class="total-pages">
                            <!-- <p>Showing 1 - 20 of 30 results </p> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <!-- 左侧菜单项 -->
                <div class="shop-sidebar-wrapper gray-bg-7 shop-sidebar-mrg">
                    <div class="shop-widget">
                        <h4 class="shop-sidebar-title">商品分类</h4>
                        <div class="shop-catigory">
                            
                            <ul id="shop-catigory-1" class="panel-collapse collapse show">
                                {% for menu in params.menus %}
                                <li><a href="/goods?shop_id={{menu.shop_id}}&menu={{menu.id}}">{{menu.menu_name}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="shop-price-filter mt-40 shop-sidebar-border pt-35">
                        <h4 class="shop-sidebar-title">价格选择</h4>
                        <div class="price_filter mt-25">
                            <span>范围: &yen 0.00 - 200.00 </span>
                            <div id="slider-range"></div>
                            <div class="price_slider_amount">
                                <div class="label-input">
                                    <input type="text" id="amount" name="price" placeholder="Add Your Price" />
                                </div>
                                <button type="button">确定</button>
                            </div>
                        </div>
                    </div>

                    <div class="shop-widget mt-40 shop-sidebar-border pt-35">
                        <h4 class="shop-sidebar-title">Popular Tags</h4>
                        <div class="shop-tags mt-25">
                            <ul>
                                <li><a href="#">All</a></li>
                                <li><a href="#">Cheesy</a></li>
                                <li><a href="#"> 主食</a></li>
                                <li><a href="#">French Fries</a></li>
                                <li><a href="#">Hamburger </a></li>
                                <li><a href="#">Pizza</a></li>
                                <li><a href="#">Red Meat</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}