<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>

<head>
  <title>Modern an Admin Panel Category Flat Bootstarp Resposive Website Template | Login :: w3layouts</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="Modern Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<!--  <script type="application/x-javascript">
    addEventListener("load", function () {
      setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
      window.scrollTo(0, 1);
    }
  </script> -->
  <!-- Bootstrap Core CSS -->
  <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/bootstrap-3.3.4.css">
  <!-- Custom CSS -->
  <link href="../assets/merchant/css/style.css" rel='stylesheet' type='text/css' />
  <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css">
  <!-- jQuery -->
  <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
	<script src="../assets/js/jquery-1.11.3.js"></script>
  <!---//webfonts--->
  <!-- Bootstrap Core JavaScript -->
  <script src="http://www.jq22.com/jquery/bootstrap-3.3.4.js"></script>

</head>

<body id="login">
  <div class="login-logo">
    <a href="index.html"><img src="images/logo.png" alt="" /></a>
  </div>
  <h2 class="form-heading">商户登录</h2>
  <div class="app-cam">
    <form action="/SJ/login">
      <input type="text" class="username" placeholder="请输入用户名" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = '';}">
      <input type="password" class="Password" placeholder="请输入密码" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = '';}">
      <div class="submit"><input type="submit" value="登录"></div>
      <div class="login-social-link">
        <a href="index.html" class="stores">
          门店
        </a>
        <a href="index.html" class="order">
          点餐
        </a>
      </div>
      <ul class="new">
        <li class="new_left">
          <p><a href="password-reset.html">忘记密码 ?</a></p>
        </li>
        <li class="new_right">
          <p class="sign">新用户 >>><a href="register.html"> 注册</a></p>
        </li>
        <div class="clearfix"></div>
      </ul>
    </form>
  </div>
  <div class="copy_layout login">
    <p>版权所有 © 2018 达内预备队</p>
  </div>
</body>

</html>