<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Modern an Admin Panel Category Flat Bootstarp Resposive Website Template | Register :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Modern Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
 <!-- Bootstrap Core CSS -->
<link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/bootstrap-3.3.4.css">
<!-- Custom CSS -->
<link href="css/style.css" rel='stylesheet' type='text/css' />
<link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css"> 
<!-- jQuery -->
<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>

<!---//webfonts--->  
<!-- Bootstrap Core JavaScript -->
<script src="http://www.jq22.com/jquery/bootstrap-3.3.4.js"></script>

<link rel="stylesheet" href="css/verification-code.css">



</head>
<body id="login">
  <div class="login-logo">
    <a href="index.html"><img src="images/logo.png" alt=""/></a>
  </div>
  <h2 class="form-heading">密码重置</h2>
  <form class="form-signin app-cam" action="index.html">
	  <p>以下填写必要信息</p>
      <input type="text" class="form-control1" placeholder="请输入用户名" autofocus="">
      <input type="password" class="form-control1" placeholder="请输入密码">
      <input type="password" class="form-control1" placeholder="再次确认密码">

		<div class="verification-code-input">
			<input type="text" class="verification-input" placeholder="验证码">
		</div>
		<div class="verification-code-picture">
			<img id="verification-code" src="C:/">
			<span>看不清？</span>
			<span style="color:#37CAF2" id="changeImgCode">换一张</span>
		</div>

			<div class="button-box" onclick="document.write('密码已修改!')">
				<button class="btn btn-lg btn-success1 btn-block" type="submit">
					<span>重置</span>
				</button>
			</div>
  </form>
   <div class="copy_layout login register">
      <p>版权所有 © 2018 达内预备队</p>
   </div>
</body>
</html>
