<!-- 继承父类模板 -->
{% extends "index.html" %}

{% block title %}
<!-- 修改页面title标签 -->
<title>非食不可</title>
<!-- 结束修改 -->
{% endblock %}


<!-- 页面主体内容-->
{% block content %}
<!-- ,将原有的页面拷贝过来即可 class 为:header-area和
    footer-area black-bg-2 pt-70 这两个div之间的内容 -->
<div class="breadcrumb-area gray-bg">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="index.html"><b>首页</b></a></li>
                <li class="active"><b>我的账户</b></li>
            </ul>
        </div>
    </div>
</div>
<!-- my account start -->
<div class="myaccount-area pb-80 pt-100">
    <div class="container">
        <div class="row">
            <div class="ml-auto mr-auto col-lg-9">
                <div class="checkout-wrapper">
                    <div id="faq" class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title"><span>1</span> <a data-toggle="collapse" data-parent="#faq"
                                        href="#my-account-1"><b>个人信息</b> </a></h5>
                            </div>
                            <div id="my-account-1" class="panel-collapse collapse show">
                                <div class="panel-body">
                                    <div class="billing-information-wrapper">
                                        <!-- 注释部分为个人介绍 -->
                                        <!-- <div class="account-info-wrapper">
                                                <h4>My Account Information</h4>
                                                <h5>Your Personal Details</h5>
                                            </div> -->
                                        <div class="row">
                                            <!-- 合并 -->
                                            <div class="col-lg-12 col-md-12">
                                                <div class="billing-info">
                                                    <label>用户名:</label>
                                                    <input type="test">
                                                </div>
                                            </div>
                                            <!-- 姓名 -->
                                            <!-- <div class="col-lg-6 col-md-6">
                                                    <div class="billing-info">
                                                        <label>姓:</label>
                                                        <input type="text">
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6">
                                                    <div class="billing-info">
                                                        <label>名称:</label>
                                                        <input type="text">
                                                    </div>
                                                </div> -->
                                            <div class="col-lg-12 col-md-12">
                                                <div class="billing-info">
                                                    <label>电话号:</label>
                                                    <input type="email" placeholder="请输入电话号">
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12">
                                                <div class="billing-info">
                                                    <label>支付宝:</label>
                                                    <input type="test">
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12">
                                                <div class="billing-info">
                                                    <label>微&nbsp;&nbsp;&nbsp;信:</label>
                                                    <input type="text">
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12">
                                                <div class="billing-info">
                                                    <label>邮&nbsp;&nbsp;&nbsp;箱:</label>
                                                    <input type="email" placeholder="个人邮箱">
                                                </div>
                                            </div>

                                            <div class="col-lg-12 col-md-12">
                                                <div class="billing-info">
                                                    <label>地&nbsp;&nbsp;&nbsp;址:</label>
                                                    <input type="email" placeholder="店家地址">
                                                </div>
                                            </div>

                                            <!-- 取消原有电话号. 地址 -->
                                            <!-- <div class="billing-info">
                                                        <div class="col-lg-6 col-md-6">
                                                        <label>电话号:</label>
                                                        <input type="text">
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6">
                                                    <div class="billing-info">
                                                        <label>地址:</label>
                                                        <input type="text">
                                                    </div>
                                                </div> -->
                                        </div>
                                        <div class="billing-back-btn">
                                            <div class="billing-btn">
                                                <!-- 返回顶部改为 修改 -->
                                                <!-- <a href="#"><i class="ion-arrow-up-c"></i>修改</a> -->
                                                <button><b>修改</b></button>

                                            </div>
                                            <div class="billing-btn">
                                                <button type="submit"><b>保存</b></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title"><span>2</span> <a data-toggle="collapse" data-parent="#faq"
                                        href="#my-account-2"><b>修改密码</b></a></h5>
                            </div>
                            <div id="my-account-2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="billing-information-wrapper">
                                        <!-- 密码提示框 -->
                                        <!-- <div class="account-info-wrapper">
                                                <h4>请输入密码</h4>
                                                <h5>请重新输入</h5>
                                            </div> -->
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12">
                                                <div class="billing-info">
                                                    <label>请输入密码</label>
                                                    <input type="password" placeholder="请输入大于6位小于20位的组合密码">
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12">
                                                <div class="billing-info">
                                                    <label>请重新输入</label>
                                                    <input type="password" placeholder="请输入大于6位小于20位的组合密码">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="billing-back-btn">
                                            <div class="billing-btn">
                                                <!-- <a href="#"><i class="ion-arrow-up-c"></i>修改</a> -->
                                                <button>修改</button>
                                            </div>
                                            <div class="billing-btn">
                                                <button type="submit">保存</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h5 class="panel-title"><span>3</span> <a data-toggle="collapse" data-parent="#faq"
                                            href="#my-account-3"><b>修改地址</b></a></h5>
                                </div>
                                <div id="my-account-3" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="billing-information-wrapper">
                                            <div class="account-info-wrapper">
                                                <h4>地址薄</h4>
                                            </div>
                                            <div class="entries-wrapper">
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 d-flex align-items-center 
                                                    justify-content-center">
                                                        <div class="entries-info text-center"> -->
                        <!-- <p>Farhana hayder (shuvo) </p>
                                                            <p>hastech </p>
                                                            <p> Road#1 , Block#c </p>
                                                            <p> Rampura. </p>
                                                            <p>Dhaka </p>
                                                            <p>Bangladesh </p>
                                                        </div> -->
                        <!-- <select ><a name = "addr"></a>
                                                            <option> </option>
                                                        </select>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 d-flex align-items-center justify-content-center">
                                                        <div class="entries-edit-delete text-center">
                                                            <a class="edit" href="#addr">修改</a>
                                                            <a href="#addr">保存</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="billing-back-btn">
                                                <div class="billing-back">
                                                    <a href="#"><i class="ion-arrow-up-c"></i>返回</a>
                                                </div> -->
                        <!-- 返回继续 -->
                        <!-- <div class="billing-btn">
                                                    <button type="submit">Continue</button>
                                                </div> -->
                        <!-- </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        <!-- 原版历史订单 -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title"><span>3</span>
                                    <a href="wishlist.html"> <b>历史订单 </b></a></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}